priority -50

snippet mbf "bold face math text"
\mathbf{${1:text}}${0}
endsnippet

snippet SI "Si unit jetser"
\SI{${1:quan}}{${2:unit}}${0}
endsnippet

snippet mcal "math caligraph text"
\mathcal{${1:text}}${0}
endsnippet
